.MemberTopBar {
  display: flex;
  align-items: center;
  width: 100%;
}
.memberProfileAvatar {
  margin-right: 2rem !important;
  height: 7rem !important;
  width: 7rem !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.memberProfileName {
  color: rgb(4, 110, 75);
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.memberProfileEmail {
  color: rgb(4, 110, 75, 0.8);
  font-size: 1rem;
}
.memberProfileLinkContainer {
  display: flex;
  width: 100%;
}
.MemberProfileLinkIcon {
  color: rgb(4, 110, 75);
  margin: 0 0.5rem;
}
.memberProfileBioBox {
  margin: 0.5rem 0.7rem;
}
.memberProfileBioBox p {
  font-size: 0.7rem;
}
.memberProfileSkillBox {
  margin: 0.5rem 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.memberProfileSkill {
  margin: 0.2rem;
  background-color: rgb(4, 110, 75, 0.8);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.endoHeading {
  margin: 0.5rem;
  font-size: 0.7rem;
  color: rgb(4, 110, 75);
}
.memberEndoTextarea {
  height: 4rem;
  width: 94%;
  margin: 0 0.5rem;
  padding: 0.2rem;
  resize: none;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(233, 230, 230);
}
@media (max-width: 600px) {
  .MemberTopBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .memberAvatar {
    margin-right: 0rem !important;
  }
  .memberProfileName {
    font-size: 1.5rem;
  }
  .memberNameEmail {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
  .memberProfileSkillBox {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
