.addButton {
  width: 95.5% !important;
  color: #fff !important;
  background-color: rgb(5, 185, 125) !important;
  margin: 0.5rem !important;
  overflow: hidden !important;
}
.addButton:hover {
  background-color: rgb(5, 185, 125) !important;
}
.addButtonDelete {
  width: 100% !important;
  color: #fff !important;
  background-color: rgb(5, 185, 125) !important;
  margin: 0.5rem !important;
  overflow: hidden !important;
}
.addButtonDelete:hover {
  background-color: rgb(5, 185, 125) !important;
}
.addButtonModal {
  color: #fff !important;
  background-color: rgb(5, 185, 125) !important;
  margin: 0.5rem !important;
  overflow: hidden !important;
}
.addButtonModal:hover {
  background-color: rgb(5, 138, 93) !important;
}
.closeMaterialModal {
  width: 20% !important;
  color: #fff !important;
  background-color: rgb(5, 185, 125, 0.8) !important;
  margin: 0.5rem !important;
  margin-top: 0;
  overflow: hidden !important;
  height: 2rem !important;
}
.closeMaterialModal:hover {
  background-color: rgb(5, 185, 125, 0.8) !important;
}
.addButtonDisabled {
  width: 95.5% !important;
  color: #fff !important;
  background-color: rgba(5, 185, 125, 0.418) !important;
  margin: 0.5rem !important;
}

.title {
  color: rgb(0, 156, 104);
}
.inputField {
  width: 20rem;
  height: 2rem;
  background-color: rgba(3, 185, 124, 0.308);
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  padding-left: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.inputFieldModal {
  width: 31.5rem;
  height: 2rem;
  background-color: rgba(3, 185, 124, 0.308);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  padding-left: 0.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.todoInputPersonal {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(0, 90, 60);
  font-size: 1rem !important;
  flex: 0.9;
  padding-left: 0.5rem;
}
.todoInputPersonal::placeholder {
  color: rgb(3, 185, 124);
  font-size: 1rem !important;
}
.todoInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(0, 90, 60);
  font-size: 0.7rem !important;
  flex: 0.9;
  padding-left: 0.5rem;
}
.todoInput::placeholder {
  color: rgb(3, 185, 124);
  font-size: 0.7rem !important;
}
.inputModal {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(0, 90, 60);
  font-size: 1rem;
  flex: 0.9;
  padding-left: 0.5rem;
}
.inputModal::placeholder {
  color: rgb(3, 185, 124);
  font-size: 1rem;
}
.stopWatchBox {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 3px solid rgb(0, 90, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stopWatchBoxStart {
  position: relative;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  /* border: 3px solid rgb(0, 90, 60); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stopWatchBoxStart::before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-top: 4px solid rgb(0, 90, 60);
  border-right: 4px solid rgb(0, 90, 60);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.time {
  color: rgb(0, 90, 60);
  font-size: 1.7rem;
  font-weight: 600;
}
.timeBtn {
  color: #fff !important;
  font-weight: 600 !important;
  background-color: rgb(5, 185, 125) !important;
  margin: 0.2rem !important;
}

.materialMainBox {
  display: flex;
}
.TodoTextBox {
  padding: 0.5rem;
  outline: none;
  resize: none;
  border: none;
  border-radius: 0.5rem;
  color: #02a56f;
  min-height: 2rem;
  height: auto !important;
  max-height: 6rem;
  width: 96%;
  font-weight: 300 !important;
  margin-bottom: 1rem;
}
.commentTextBox {
  padding: 0.5rem;
  outline: none;
  resize: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #b1e9d6;
  color: #02a56f;
  min-height: 5rem;
  height: auto;
  max-height: 20rem;
  width: 96%;
  /* min-width: 25rem; */
}
.commentTextBox::placeholder {
  color: #02a56f;
}
.helperBox {
  display: flex;
  flex-direction: column;
}
.helperTextBox {
  padding: 0.5rem;
  outline: none;
  resize: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #b1e9d6;
  color: #02a56f;
  min-height: 6rem;
  height: auto;
  max-height: 20rem;
  width: 96%;
  margin-bottom: 0.5rem;
}
.helperTextBox::placeholder {
  color: #02a56f;
}
.profileContainer {
  margin-top: 1rem;
  border-radius: 10px;
  width: 75%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(2, 133, 89, 0.829);
  overflow: hidden;
}
.profileImageBox {
  flex: 0.4;
  background-color: rgba(2, 133, 89, 0.829);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileSetterImage {
  flex: 0.7;
  margin: 1rem;
}
.profileHeading {
  flex: 0.3;
  padding-top: 2rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: small !important;
}

.profileBox {
  flex: 0.6;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
}

.inputFieldProfile {
  width: 28rem;
  height: 2rem;
  background-color: rgba(3, 185, 124, 0.308);
  border-radius: 1rem;
  border: none;
  padding: 0.8rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.profileLabel {
  margin: 0 0.1rem;
  flex: 0.1;
  color: rgba(2, 133, 89, 0.829);
}
.todoInputProfile {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  color: rgb(0, 90, 60);
  font-size: 1rem !important;
  padding-left: 0.5rem;
  flex: 0.9;
}
.todoInput::placeholder {
  color: rgb(3, 185, 124);
  font-size: 1rem !important;
}
.avatarBox {
  position: relative;
  height: 7rem !important;
  width: 7rem !important;
}
.avatarEdit {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
  z-index: 10000;
  background-color: rgba(6, 212, 144, 0.8) !important;
}
.avatar {
  height: 7rem !important;
  width: 7rem !important;
}

/*:::::::::::::::Discussion::::::::::::::::*/

.chatTimeBox {
  display: flex;
  width: 100%;
  align-items: center;
}
.chatTimeSpace {
  flex: 1;
}
.messageTime {
  font-size: xx-small;
  color: rgba(0, 99, 66, 0.7);
}
.senderName {
  font-size: xx-small;
  color: rgba(0, 99, 66, 0.7);
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}
.senderAvatar {
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 0.5rem;
}
.helpNeeded {
  font-size: 9px !important;
  background-color: rgba(0, 99, 66, 0.7) !important;
  color: #fff !important;
  padding: 1px 2px !important;
  font-weight: 300 !important;
  width: 10% !important;
  margin-right: 10px;
  display: none !important;
}
.chatDeleteBtn {
  color: rgba(0, 99, 66, 0.7);
  font-size: 15px !important;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.chatDeleteBtn:hover {
  transform: scale(1.1);
  color: rgb(148, 4, 4);
}

/*:::::::::::::::Discussion::::::::::::::::*/

@media only screen and (max-width: 600px) {
  .TeamButtons {
    font-size: 10px !important;
  }
  .inputFieldModal {
    width: 14rem;
    height: 1.5rem;
  }
  .addButtonModal {
    width: 100% !important;
  }
  .TodoTextBox {
    min-height: 5rem;
  }
}

@media only screen and (max-height: 600px) {
  .slogPageRes {
    transform: scale(0.95) !important;
    margin-bottom: 2rem !important;
  }
  .startStop {
    margin: 0 !important;
  }
}
@media only screen and (max-height: 400px) {
  .closeMaterialModal {
    display: none !important;
  }
}
