.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -3;
  opacity: 0.2;
}
.bannerText {
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: #272142;
}

.banner img {
  margin-top: -3rem;
  object-fit: contain;
  width: 35%;
  height: 35%;
}

.bannerBtn {
  margin: 0.3rem !important;
  background-color: #272142 !important;
  color: #fff !important;
  padding: 0.5rem 2rem !important;
  font-size: 0.7rem !important;
  border: 2px solid #272142 !important;
  transition: all 0.5s ease-in-out !important;
}
.bannerBtn:hover {
  background-color: transparent !important;
  color: #272142 !important;
  border: 2px solid #272142 !important;
}
.downSvgSlogger1 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: -1;
}
.downSvgSlogger2 {
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: transparent;
  width: 103%;
  z-index: -2;
}
.sloggerBuild {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sloggerHeadingMain {
  font-size: 1.7rem;
  color: #272142;
}
.sloggerHeading {
  margin-left: 0.5rem;
  font-size: 2.5rem;
  color: #272142;
  font-family: "Shadows Into Light", cursive;
}
.serviceBox {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contentBox {
  width: 20rem;
  height: auto;
  margin: 2rem;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconBox {
  background-color: #272142;
  border-radius: 200px;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  color: #fff;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
.contentHeading {
  font-size: 1.7rem;
  color: #272142;
  margin: 1.5rem;
  margin-bottom: 0;
}
.contentPara {
  font-size: 1rem;
  color: #272142;
  margin: 1.5rem;
  text-align: center;
}
.screenHeading {
  color: #272142;
  text-align: center;
  font-size: 2.7rem;
  margin-top: 1rem;
}
.screenSubHeading {
  color: #272142;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.screenContainer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.screenContentBox {
  width: 35%;
  height: auto;
}
.screenContentBoxReverse {
  height: auto;
}
.screenContentSubHeading {
  color: #272142d7;
  font-size: 0.7rem;
}
.screenContentHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #272142;
  margin-bottom: 2rem;
}
.screenContentPara {
  font-size: 1rem;
  color: #272142;
  margin-top: 0.5rem;
  font-weight: 300;
}
.screenImg {
  object-fit: contain;
  width: 20rem;
  height: 20rem;
}

.screenImgBox {
  width: 35%;
  height: auto;
}

/* footer */

.footerContainer {
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #999;
  position: relative;
}
.footerContainer li {
  text-decoration: none;
  list-style: none;
  line-height: 2.5;
  cursor: pointer;
}
.footerColumn li:hover {
  color: #999;
}
.footerContainer a {
  text-decoration: none;
  color: #999;
}
.footerColumn {
  width: 70%;
  margin: 1rem auto 0;
  font-size: 0.9rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
  .serviceBox {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .banner {
    height: 90vh;
  }
  .video {
    height: 90vh;
  }
  .serviceBox {
    width: 100%;
    grid-template-columns: 1fr;
    margin-left: -1.5rem;
  }
  .banner img {
    margin-top: -5rem;
    object-fit: contain;
    width: 45%;
    height: 45%;
  }
  .bannerText {
    /* margin-top: -2rem; */
    font-size: 0.7rem !important;
  }
  .sloggerHeadingMain {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .sloggerHeading {
    font-size: 2rem;
  }
  .screenHeading {
    font-size: 2.2rem;
  }
  .footerContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footerContainer span {
    font-size: 0.8rem !important;
  }
  .footerColumn {
    width: 80%;
    margin: 0.7rem auto 0;
    font-size: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .screenSubHeading {
    margin-bottom: 5rem;
  }
  .screenContainer {
    flex-direction: column;
  }
  .screenContentBox {
    width: 80%;
  }
  .screenImgBox {
    width: auto;
  }
}
@media (max-width: 500px) {
  .banner img {
    margin-top: -3rem;
    object-fit: contain;
    width: 85%;
    height: 85%;
  }
  .bannerText {
    margin-top: -10rem;
    font-size: 0.6rem !important;
  }
}
@media (max-height: 600px) {
  .bannerText {
    margin-top: -8rem;
    font-size: 0.6rem !important;
  }
  .contentBox {
    margin: 0;
  }
  .serviceBox {
    width: 90%;
  }
}
