.questionBox {
  width: 100%;
  height: 80vh;
  /* background: rgb(27, 0, 147);
  background: linear-gradient(
    43deg,
    rgba(27, 0, 147, 1) 0%,
    rgba(39, 33, 66, 1) 100%
  ); */
  background: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden !important;
  padding-left: 1rem;
  transform: scale(0.8);
  border-radius: 1rem;
}
.questionVideo {
  height: 70vh;
  flex: 0.4;
  background: none;
  overflow: hidden;
}
.quesVideo {
  object-fit: contain !important;
  height: 100%;
  width: 100%;
}
.questionInner {
  margin: 1rem 0;
  text-align: center;
  overflow: hidden !important;
}
.questionInner h1 {
  margin: 0.5rem 0;
  color: #2f2949;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700 !important;
  overflow: hidden !important;
}
.weGotYou {
  height: 10vh;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  margin-top: 1rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman" !important;
}
.weGotYou h1 {
  color: #272142;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden !important;
}
.weGotYou hr {
  background-color: #272142;
  height: 0.1rem;
  width: 40%;
}
.personalTodoSection {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.personalTodoTextBox h1 {
  color: #272142;
  font-size: 1.7rem;
  overflow: hidden !important;
  font-family: sans-serif;
  margin: 1rem;
}
.personalTodoTextBox {
  flex: 0.6;
  height: 100%;
  width: 100%;
}
.personalTodoImg {
  flex: 0.4;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.teamTodoSection {
  padding: 2rem;
  display: flex;
}
.teamTodoTextBox {
  flex: 0.6;
  height: 100%;
  width: 100%;
  padding-right: 4rem;
}
.teamTodoTextBox h1 {
  color: #272142;
  font-size: 2.9rem;
  overflow: hidden !important;
  font-family: sans-serif;
  margin: 1.3rem 0;
  transform: scale(0.9);
}

.teamTodoImg {
  flex: 0.4;
  object-fit: contain;
  height: 90%;
  width: 90%;
}
.slogTodoTextBox {
  flex: 0.7;
  height: 100%;
  width: 100%;
  padding-right: 0rem;
}
.slogTodoTextBox h1 {
  color: #272142;
  font-size: 2.7rem;
  overflow: hidden !important;
  font-family: sans-serif;
  margin: 1.1rem 0;
  transform: scale(0.9);
}
.questionContainer {
  background: rgb(27, 0, 147, 0.8);
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogSection {
  width: 100%;
  height: 70vh;
  display: flex;
  padding: 1rem 4rem;
  margin-top: -3rem;
  transform: scale(0.8);
  margin-left: -3rem;
}

.bubbleBox {
  margin: 4rem 15rem;
  border-radius: 0 100px 0px 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Times New Roman" !important;
}

.bubbleBoxOpp {
  font-family: "Times New Roman" !important;
  margin: 4rem 15rem;
  border-radius: 100px 0px 100px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bannerImg {
  height: 200px;
  width: 500px;
}
@media only screen and (max-width: 740px) {
  /* h1 {
    font-size: 25px !important;
  }
  hr {
    margin: 0.5rem 0;
    height: 0.1rem !important;
  }
  .questionContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
  .questionBox {
    flex-direction: column;
  }
  .personalTodoSection {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    overflow: hidden;
    margin-top: -8rem;
  }

  .personalTodoTextBox h1 {
    padding-left: 2rem;
  }
  .personalTodoTextBox {
    overflow: hidden;
  }
  .teamTodoSection {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    padding-left: 1.5rem;
    margin-top: -9rem;
  }
  .teamTodoImg {
    margin-bottom: 2rem;
  }
  .slogSection {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    padding-left: 1.5rem;
    margin-top: -9rem;
    margin-left: 0;
  } */

  .bannerImg {
    height: 130px !important;
    width: 330px !important;
  }
  .bannerBtn {
    margin-top: 2rem !important;
  }

  .questionInner h1 {
    font-size: 0.8rem !important;
  }
  .weGotYou {
    margin-bottom: -4rem;
  }
  h1 {
    font-size: 1rem !important;
  }
  .bubbleBox {
    height: auto !important;
    margin: 2rem 0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px !important;
  }

  .bubbleBoxOpp {
    height: auto !important;
    margin: 2rem 0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px !important;
  }
  .personalTodoSection {
    display: flex;
    flex-direction: column;
  }
}
