* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.438);
  padding: 0 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 139, 93);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 190, 127, 0.473);
}
